/* TIPOGRAFIAS */
/* PALETA DE COLORES */
.grid, .grid__uno, .grid__dos, .grid__tres, .grid__cuatro, .grid__cinco, .grid__seis, .grid__siete, .grid__ocho, .grid__nueve, .grid__diez, .grid__once, .grid__doce, .grid__trece, .grid__catorce, .grid__quince, .grid__diecises {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }
  .grid__container {
    display: grid;
    grid-template-rows: 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center; }
  .grid__item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 30px; }
  .grid__ver {
    display: flex;
    justify-self: end;
    justify-content: end; }
  .grid__item:hover {
    transform: scale(1.1);
    transition: all 0.5s; }
  .grid__uno {
    grid-row: 1/3;
    background-image: url("../resources/img/01.jpg"); }
  .grid__dos {
    grid-row: 3/3;
    grid-column: 1;
    background-image: url("../resources/img/02.jpg"); }
  .grid__tres {
    grid-row: 4/6;
    grid-column: 1;
    background-image: url("../resources/img/03.jpg"); }
  .grid__cuatro {
    grid-row: 6/7;
    grid-column: 1;
    background-image: url("../resources/img/04.jpg"); }
  .grid__cinco {
    grid-row: 1/2;
    grid-column: 2;
    background-image: url("../resources/img/05.jpg"); }
  .grid__seis {
    grid-row: 2/4;
    grid-column: 2;
    background-image: url("../resources/img/06.jpg"); }
  .grid__siete {
    grid-row: 4/4;
    grid-column: 2;
    background-image: url("../resources/img/07.jpg"); }
  .grid__ocho {
    grid-row: 5/7;
    grid-column: 2;
    background-image: url("../resources/img/08.jpg"); }
  .grid__nueve {
    grid-row: 1/3;
    grid-column: 3;
    background-image: url("../resources/img/09.jpg"); }
  .grid__diez {
    grid-row: 3/3;
    grid-column: 3;
    background-image: url("../resources/img/10.jpg"); }
  .grid__once {
    grid-row: 4/6;
    grid-column: 3;
    background-image: url("../resources/img/11.jpg"); }
  .grid__doce {
    grid-row: 6/7;
    grid-column: 3;
    background-image: url("../resources/img/12.jpg"); }
  .grid__trece {
    grid-row: 1/2;
    grid-column: 4;
    background-image: url("../resources/img/13.jpg"); }
  .grid__catorce {
    grid-row: 2/4;
    grid-column: 4;
    background-image: url("../resources/img/14.jpg"); }
  .grid__quince {
    grid-row: 4/4;
    grid-column: 4;
    background-image: url("../resources/img/15.jpg"); }
  .grid__diecises {
    grid-row: 5/7;
    grid-column: 4;
    background-image: url("../resources/img/16.jpg"); }

* {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #F7F0E4;
  margin-left: 1.625em;
  margin-right: 1.625em; }

article p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1em;
  text-align: center; }

.header {
  display: flex;
  align-items: right;
  justify-content: flex-end;
  width: 100%; }
  .header__logo {
    width: 25%; }
  .header__navOrden {
    flex-grow: 3; }
  .header__navegacion {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1em;
    text-decoration: none; }

ul {
  display: flex;
  list-style-type: none;
  color: black;
  text-decoration: none;
  text-align: left; }

li {
  padding: 0.938em;
  color: black;
  text-decoration: none;
  text-align: right; }
  li li a:visited {
    color: black; }

a {
  text-decoration: none;
  color: black; }

div a {
  text-decoration: none;
  color: black;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 0.875em; }

.destacado__titulo {
  font-family: "DM Serif Display", serif;
  font-size: 7.5em;
  margin-bottom: 0; }

.destacado__subtitulo {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.563em;
  justify-content: flex-start; }

.seccion__titulo {
  font-family: "DM Serif Display", serif;
  font-size: 7.5em;
  margin-bottom: 1.25em; }

.italic {
  font-style: italic; }

.galeria__titulo {
  display: flex;
  justify-content: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding-bottom: 1.563em;
  padding-top: 2.5em; }

.button__ver {
  display: block;
  width: 6.25em;
  height: 2.5em;
  border-radius: 5em;
  border-style: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  width: 6.25em;
  height: 2.5em;
  border-radius: 5em;
  border-style: none;
  margin: 0;
  background-color: #0000006b;
  color: white;
  padding: 0.625em;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  text-align: center; }
  .button__ver:hover {
    display: block;
    width: 6.25em;
    height: 2.5em;
    border-radius: 5em;
    border-style: none;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    text-align: center;
    background-color: #0000006b;
    transition: .2s;
    transform: scale(1.1);
    transition: all 0.2s; }

.button__buy {
  display: block;
  width: 6.25em;
  height: 2.5em;
  border-radius: 5em;
  border-style: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 3.125em;
  margin-bottom: 1.25em;
  background-color: #2D441D;
  color: white;
  padding: 0.625em; }
  .button__buy__buy:hover {
    background-color: #1d2b13;
    transform: scale(1.1);
    transition: all 0.5s; }

.button__text {
  font: "Plus Jakarta Sans", sans-serif;
  color: #F7F0E4; }

.foto__producto {
  background-position: center;
  background-size: 18.75em; }

.fotoProducto {
  margin-top: 0.625em;
  margin-bottom: 0.625em;
  align-items: center; }

.productos__comprar {
  display: flex;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1em;
  background-color: black;
  border-radius: 1.563em;
  color: white;
  width: fit-content;
  padding: 0.938em;
  margin-left: 6.25em; }

.servicios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .servicios__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
    width: 33.3%; }
  .servicios__titulo {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    justify-content: center;
    font-size: 1.563em;
    padding: 0;
    margin: 0; }
  .servicios__icon {
    width: 18.75em; }

.footer {
  align-items: baseline;
  padding-top: 9.375em; }
  .footer__navegacion {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 0.875em;
    color: black; }

.navLi {
  box-shadow: none;
  color: black; }

.contacto__container {
  display: block;
  margin-bottom: 7.813em;
  margin-left: 0.938em; }

.contacto__info {
  display: block; }

.contacto__titulo {
  font-family: "DM Serif Display", serif;
  font-weight: 700;
  font-size: 2.813em;
  padding: 0;
  margin-bottom: 0;
  color: #7C0808;
  letter-spacing: 0.063em; }

.contacto__parrafo {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 1.563em;
  padding-bottom: 0;
  padding-top: 0.625em;
  padding-right: 0;
  padding-left: 0;
  margin: 0; }

.form {
  margin-top: 1.875em;
  border-radius: 2.5em;
  padding-left: 0;
  padding-right: 1.25em;
  padding-top: 0.938em;
  padding-bottom: 0.938em; }
  .form__request {
    display: block;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 1.125em;
    margin-bottom: 0.938em; }
  .form__input {
    width: 25em;
    height: 2.5em;
    border-radius: 6.25em;
    border-style: none;
    margin-bottom: 1.25em;
    padding: 0.938em; }
  .form__inputText {
    width: 25em;
    height: 6.25em;
    border-radius: 1.875em;
    border-style: none;
    margin-bottom: 1.25em;
    padding: 0.938em;
    resize: vertical; }
  .form__button {
    display: block;
    width: 6.25em;
    height: 2.5em;
    border-radius: 5em;
    border-style: none;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.25em;
    background-color: #7C0808;
    color: white; }

.socialMedia {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.5em;
  align-items: flex-start;
  justify-content: space-evenly; }
  .socialMedia__titulo {
    font-family: "DM Serif Display", serif;
    font-weight: 700;
    letter-spacing: 0.063em;
    font-size: 2.188em;
    padding: 0;
    margin-bottom: 0;
    color: black; }
  .socialMedia__icon {
    width: 0.938em;
    height: auto;
    flex-wrap: wrap;
    justify-self: start; }

.producto {
  display: inline-flex;
  justify-content: flex-start;
  margin-top: 3.125em;
  margin-bottom: 7.5em; }
  .producto__img {
    width: 50em;
    box-shadow: 0em 0em 0.625em #F7F0E4; }
  .producto__img:hover {
    transform: scale(1.5);
    transition: all 0.5s;
    padding-left: 10em; }
  .producto__descripcion {
    display: block;
    margin-left: 3.125em; }
  .producto__titulo {
    font-family: "DM Serif Display", serif;
    font-weight: 700;
    letter-spacing: 0.063em;
    font-size: 2.813em;
    margin-bottom: 0.938em;
    color: black;
    margin-top: 0;
    padding-top: 0; }
  .producto__subtitulo {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    font-size: 1.125em;
    margin-bottom: 0.313em; }
  .producto__texto {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    font-size: 0.875em;
    margin-bottom: 2.188em;
    margin-top: 0;
    width: 37.5em; }

.precio {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 1.875em; }

.profileImg {
  width: 28.125em;
  border-radius: 13.75em 13.75em 0em  0em;
  margin: 0;
  padding: 0; }

.aboutUs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-top: 3.125em; }
  .aboutUs__descripcion {
    display: block;
    justify-self: center;
    align-self: center;
    margin-left: 3.125em;
    margin-top: 6em; }
  .aboutUs__titulo {
    font-family: "DM Serif Display", serif;
    font-weight: 700;
    letter-spacing: 0.063em;
    font-size: 2.813em;
    margin: 0;
    padding: 0;
    color: black; }
  .aboutUs__subtitulo {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    font-size: 1.563em;
    margin-bottom: 0.313em; }
  .aboutUs__texto {
    display: inline-block;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    font-size: 0.875em;
    margin-bottom: 1.875em;
    margin-top: 0;
    width: 37.5em;
    text-align: left; }
  .aboutUs__socialMedia {
    padding: 0em;
    margin: 0em; }

.socialMedia__icon {
  display: flex;
  flex-wrap: wrap;
  width: 2.813em;
  padding: 0;
  margin: 0; }

/* Media Queries */
/* Dispositivos moviles */
@media only screen and (max-width: 600px) {
  body {
    background-color: #F7F0E4;
    margin-left: 1em;
    margin-right: 1em; }
  ul {
    display: inline-block; }
  .header__navegacion {
    display: block; }
  .destacado__titulo {
    font-size: 2.188em; }
  .destacado__subtitulo {
    font-size: 1.125em; }
  .seccion__titulo {
    font-size: 2.188em; }
  .galeria__titulo {
    padding-top: 1.563em;
    font-size: 1.125em;
    padding-bottom: 0.625em; }
  .grid__container {
    display: grid;
    grid-template-rows: 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em;
    grid-template-columns: 30em;
    gap: 0.625em; }
  .grid__uno {
    grid-row: 1/3; }
  .grid__dos {
    grid-row: 3/5;
    grid-column: 1; }
  .grid__tres {
    grid-row: 5/7;
    grid-column: 1; }
  .grid__cuatro {
    grid-row: 7/9;
    grid-column: 1; }
  .grid__cinco {
    grid-row: 9/11;
    grid-column: 1; }
  .grid__seis {
    grid-row: 11/13;
    grid-column: 1; }
  .grid__siete {
    grid-row: 13/15;
    grid-column: 1; }
  .grid__ocho {
    grid-row: 15/17;
    grid-column: 1; }
  .grid__nueve {
    grid-row: 17/19;
    grid-column: 1; }
  .grid__diez {
    grid-row: 19/21;
    grid-column: 1; }
  .grid__once {
    grid-row: 21/23;
    grid-column: 1; }
  .grid__doce {
    grid-row: 23/25;
    grid-column: 1; }
  .grid__trece {
    grid-row: 25/27;
    grid-column: 1; }
  .grid__catorce {
    grid-row: 27/29;
    grid-column: 1; }
  .grid__quince {
    grid-row: 29/31;
    grid-column: 1; }
  .grid__diecises {
    grid-row: 31/33;
    grid-column: 1; }
  .servicios__item {
    padding: 3em;
    width: 100%; }
  .servicios__icon {
    width: 12.75em; }
  .profileImg {
    width: 17.188em;
    border-radius: 13.75em 13.75em 0em 0em;
    margin: 0;
    padding: 0; }
  .aboutUs {
    margin-top: 1.563em;
    margin-left: 1em; }
    .aboutUs__descripcion {
      display: block;
      justify-self: center;
      align-self: center;
      margin-left: 0em;
      margin-top: 1em; }
    .aboutUs__titulo {
      font-size: 2.188em;
      margin-top: 0em; }
    .aboutUs__subtitulo {
      font-size: 1.563em;
      margin-bottom: 0.313em; }
    .aboutUs__texto {
      width: 25em; }
    .aboutUs__socialMedia {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end; }
  .socialMedia__icon {
    display: flex;
    flex-wrap: wrap;
    width: 2.813em;
    padding: 0;
    margin: 0; }
  .footer {
    align-items: flex-start;
    padding-top: 9.375em; }
    .footer__navegacion {
      font-size: 0.75em; } }

/* Tablets */
@media only screen and (min-width: 601px) and (max-width: 992px) {
  body {
    background-color: #F7F0E4;
    margin-left: 1em;
    margin-right: 1em; }
  ul {
    display: inline-block; }
  .header__navegacion {
    display: block; }
  .destacado__titulo {
    font-size: 2.813em; }
  .destacado__subtitulo {
    font-size: 1.375em; }
  .seccion__titulo {
    font-size: 2.813em; }
  .galeria__titulo {
    padding-top: 1.563em;
    font-size: 1.125em;
    padding-bottom: 0.625em; }
  .grid__container {
    display: grid;
    grid-template-rows: 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em;
    grid-template-columns: 1fr 1fr;
    gap: 0.625em; }
  .grid__uno {
    grid-row: 1/3; }
  .grid__dos {
    grid-row: 3/4;
    grid-column: 1; }
  .grid__tres {
    grid-row: 4/6;
    grid-column: 1; }
  .grid__cuatro {
    grid-row: 6/7;
    grid-column: 1; }
  .grid__cinco {
    grid-row: 7/8;
    grid-column: 1; }
  .grid__seis {
    grid-row: 8/10;
    grid-column: 1; }
  .grid__siete {
    grid-row: 10/11;
    grid-column: 1; }
  .grid__ocho {
    grid-row: 11/13;
    grid-column: 1; }
  .grid__nueve {
    grid-row: 1/3;
    grid-column: 2; }
  .grid__diez {
    grid-row: 3/4;
    grid-column: 2; }
  .grid__once {
    grid-row: 4/6;
    grid-column: 2; }
  .grid__doce {
    grid-row: 6/7;
    grid-column: 2; }
  .grid__trece {
    grid-row: 7/8;
    grid-column: 2; }
  .grid__catorce {
    grid-row: 8/10;
    grid-column: 2; }
  .grid__quince {
    grid-row: 10/11;
    grid-column: 2; }
  .grid__diecises {
    grid-row: 11/13;
    grid-column: 2; }
  .servicios__item {
    padding: 3em;
    width: 100%; }
  .servicios__icon {
    width: 12.75em; }
  .profileImg {
    width: 17.188em; }
  .aboutUs {
    margin-top: 1.563em;
    margin-left: 1em; }
    .aboutUs__descripcion {
      display: block;
      justify-self: center;
      align-self: center;
      margin-left: 1em;
      margin-top: 1em; }
    .aboutUs__titulo {
      font-size: 2.188em;
      margin-top: 0em; }
    .aboutUs__subtitulo {
      font-size: 1.2em;
      margin-bottom: 0.25em; }
    .aboutUs__texto {
      width: 25em; }
    .aboutUs__socialMedia {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end; }
  .socialMedia__icon {
    display: flex;
    flex-wrap: wrap;
    width: 2.813em;
    padding: 0;
    margin: 0; }
  .footer {
    align-items: flex-start;
    padding-top: 9.375em; }
    .footer__navegacion {
      font-size: 0.75em; } }
