 *{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F7F0E4;
    margin-left: 26px;
    margin-right: 26px;
}

article p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    text-align: center;
}


.header {
    display: flex;
    align-items: right;
    justify-content: flex-end;
    width: 100%;
}

.header__logo {
    width: 25%;
}

.header__navOrden{ 
    flex-grow: 3;
}

.header__navegacion {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    text-decoration: none;
} 

ul {
    display: flex;
    list-style-type: none;
    color: black;
    text-decoration: none;
    text-align: left;
}

li {
    padding: 15px;
    color: black;
    text-decoration: none;
    text-align: right;
}

li a:visited{
    color: black;
}

a {
    text-decoration: none;
}

div a {
    text-decoration: none;
    color: black;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
}

.destacado__titulo{
    font-family: 'DM Serif Display', serif;
    font-size: 120px;
    margin-bottom: 0px;
}

.seccion__titulo{
    font-family: 'DM Serif Display', serif;
    font-size: 120px;
    margin-bottom: 20px;
}

.italic{
    font-style: italic;
}

.destacado__subtitulo{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 25px;
    justify-content: flex-start;
}

.galeria__titulo{
    display: flex;
    justify-content: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding-bottom: 25px;
} 

 .grid__container{
    display: grid;
    grid-template-rows: 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em ; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
 }

 .grid__item{
     display: flex;
     flex-direction: column;
     justify-content: end;
     align-items: center;
     padding-bottom: 30px;
} 

.grid__uno{
     display: flex;
     flex-direction: column;
     grid-row:1/3;
     background-image: url("../resources/img/01.jpg");
     background-position: center;
     background-size: cover;
     width: 100%;
     height: 100%;
}

.button__ver{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    background-color: #7C0808;
    text-decoration: none;
    font-style: white;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.151);
}

.button__ver:hover{
    background-color: #530505;
    transition: .3s;
    transform: scale(1.1);
    transition: all 0.5s;
}

.grid__ver{
    display: flex;
    justify-self: end;
    justify-content: end;
}


.grid__item:hover{
    transform: scale(1.1);
    transition: all 0.5s;
 }

.foto__producto{
   background-position: center;
   background-size: 300px;
}

.grid__dos{
    display: flex;
    flex-direction: column;
    align-self: center;
    grid-row: 3/5;
    grid-column: 1;
    background-image: url("../resources/img/02.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
 }

.grid__tres{
    display: flex;
    flex-direction: column;
    align-self: center;
    grid-row: 5/7;
    grid-column: 1;
    background-image: url("../resources/img/03.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.grid__cuatro{
    display: flex;
    flex-direction: column;
    align-self: center;
    grid-row: 1/2;
    grid-column: 2;
    background-image: url("../resources/img/04.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.grid__cinco{
    display: flex;
    flex-direction: column;
    align-self: center;
    grid-row: 2/4;
    grid-column: 2;
    background-image: url("../resources/img/05.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.grid__seis{
    display: flex;
    flex-direction: column;
    align-self: center;
    grid-row: 4/7;
    grid-column: 2;
    background-image: url("../resources/img/06.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.grid__siete{
    display: flex;
    flex-direction: column;
    align-self: center;
    grid-row: 1/3;
    grid-column: 3;
    background-image: url("../resources/img/07.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.grid__ocho{
    display: flex;
    flex-direction: column;
    align-self: center;
    grid-row: 3/5;
    grid-column: 3;
    background-image: url("../resources/img/08.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.grid__nueve{
    display: flex;
    flex-direction: column;
    align-self: center;
    grid-row: 5/7;
    grid-column: 3;
    background-image: url("../resources/img/09.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.grid__diez{
    display: flex;
    flex-direction: column;
    align-self: center;
    grid-row: 1/3;
    grid-column: 4;
    background-image: url("../resources/img/10.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.grid__once{
    display: flex;
    flex-direction: column;
    align-self: center;
    grid-row: 3/4;
    grid-column: 4;
    background-image: url("../resources/img/11.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;   
}

.grid__doce{
    display: flex;
    flex-direction: column;
    align-self: center;
    grid-row: 4/7;
    grid-column: 4;
    background-image: url("../resources/img/12.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}


.button__ver{
    width: 100px;
    height: 40px;
    border-radius: 80px;
    border-style: none;
    margin: 0px;
    background-color: #7C0808;
    color: white;
    padding: 10px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    text-align: center;
}

.fotoProducto{
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.productos__comprar{
    display: flex;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    background-color: black;
    border-radius: 25px;
    color: white;
    width: fit-content;
    padding: 15px;
    margin-left: 100px;
}

.servicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.servicios__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}

.servicios__titulo{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    justify-content: center;
    font-size: 25px;
    padding: 0;
    margin: 0;
}

.servicios__icon{ 
    width: 350px;
}

.footer{
    align-items: baseline;
    padding-top: 150px;
}

.footer__navegacion{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Plus Jakarta Sans',sans-serif;
    font-size: 14px;
    color: black;
}

.navLi{
    box-shadow: none;
    color: black;   
}

.contacto__container{
    display: block;
    margin-bottom: 125px;
    margin-left: 15px;
}

.contacto__info{
    display: block;
}

.contacto__titulo{
    font-family: 'DM Serif Display', serif;
    font-weight: 700;
    font-size: 45px;
    padding: 0;
    margin-bottom: 0;
    color: #7C0808;
    letter-spacing: 1px;
}

.contacto__parrafo{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    padding-bottom: 0;
    padding-top: 10px;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
}

.form{
    margin-top: 30px;    
    border-radius: 40px;
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;

}

.form__request{
    display: block;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}

.form__input{
    width: 400px;
    height: 40px;
    border-radius: 100px;
    border-style: none;
    margin-bottom: 20px;
    padding: 15px;
}

.form__inputText{
    width: 400px;
    height: 100px;
    border-radius: 30px;
    border-style: none;
    margin-bottom: 20px;
    padding: 15px;
    resize: vertical;
}

.form__button{
    display: block;
    width: 100px;
    height: 40px;
    border-radius: 80px;
    border-style: none;
    margin-bottom: 20px;
    background-color: #7C0808;
    color: white;
}

.socialMedia{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
}

.socialMedia__titulo{
    font-family: 'DM Serif Display', serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 35px;
    padding: 0;
    margin-bottom: 0;
    color: black;
}

.producto__img{
    width: 50em;
    box-shadow: 0px 0px 10px #f3e3c8;
}

.producto__img:hover{
    transform: scale(1.5);
    transition: all 0.5s;
    padding-left: 10em;
}

.producto{
    display: inline-flex;
    justify-content: flex-start;
    margin-top: 50px;
    margin-bottom: 120px;
}

.producto__descripcion{
    display: block;
    margin-left: 50px;
}

.producto__titulo{
    font-family: 'DM Serif Display', serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 45px;
    margin-bottom: 15px;
    color: black;
    margin-top: 0px;
    padding-top: 0px;
}

.producto__subtitulo{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 5px;
}

.producto__texto{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 35px;
    margin-top: 0px;
    width: 600px;
}

.precio{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.buy__button{
    display: block;
    width: 100px;
    height: 40px;
    border-radius: 80px;
    border-style: none;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #2D441D;
    color: white;
    padding: 10px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    text-align: center;
}

.buy__button:hover{
    background-color: #1d2b13;
    transform: scale(1.1);
    transition: all 0.5s;
}

.profileImg{
    width: 450px;
    border-radius: 220px 220px 0px 0px;
    margin: 0;
    padding: 0;
}
    
.aboutUs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 50px;
    /*    margin-bottom: 120px; */
}
    
.aboutUs__descripcion{
    display: block;
    justify-content: flex-end;
    margin-left: 50px;   
}
    
.aboutUs__titulo{
    font-family: 'DM Serif Display', serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 45px;
    margin: 0;
    padding: 0;
    color: black;
}
    
.aboutUs__subtitulo{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 5px;
}
    
.aboutUs__texto{
    display: inline-block;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 0px;
    width: 600px;
    text-align: left;
    }

.aboutUs__socialMedia{
    display: flex;
    justify-content: flex-start;
}

.socialMedia__icon{
    width: 70px;
    padding: 0;
    margin: 0;
}

/* Media Queries */

/* Dispositivos moviles */
@media only screen and (max-width: 600px){

    body{
        background-color: #F7F0E4;
        margin-left: 16px;
        margin-right: 16px;
    }

    ul {
        display: inline-block;
    }

    .header__navegacion {
        display: block;
    }

    .destacado__titulo{
        font-size: 35px;
    }

    .destacado__subtitulo{
        font-size: 18px;
    }

    .seccion__titulo{
        font-size: 35px;
    }

    .galeria__titulo{
        padding-top: 25px;
        font-size: 18px;
        padding-bottom: 10px;
    } 

    .grid__container{
        display: grid;
        grid-template-rows: 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 
        21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em; 
        grid-template-columns: 35em;
        gap: 10px;
        
    }

    .grid__uno{
        grid-row:1/3;
   }

   .grid__dos{
        grid-row: 3/5;
        grid-column: 1;
    }

    .grid__tres{
        grid-row: 5/7;
        grid-column: 1;
    }

    .grid__cuatro{
        grid-row: 7/9;
        grid-column: 1;
    }

    .grid__cinco{
        grid-row: 9/11;
        grid-column: 1;
    }

    .grid__seis{
        grid-row: 11/13;
        grid-column: 1;
    }

    .grid__siete{
        grid-row: 13/15;
        grid-column: 1;
    }

    .grid__ocho{
        grid-row: 15/17;
        grid-column: 1;
    }

    .grid__nueve{
        grid-row: 17/19;
        grid-column: 1;
    }

    .grid__diez{
        grid-row: 19/21;
        grid-column: 1;
    }

    .grid__once{
        grid-row: 21/23;
        grid-column: 1;
    }

    .grid__doce{
        grid-row: 23/25;
        grid-column: 1;
    }

}

/* Tablets */
@media only screen and (min-width: 601px) and (max-width:992px) {

    body{
        background-color: #F7F0E4;
        margin-left: 16px;
        margin-right: 16px;
    }

    ul {
        display: inline-block;
    }

    .header__navegacion {
        display: block;
    }

    .destacado__titulo{
        font-size: 45px;
    }

    .destacado__subtitulo{
        font-size: 22px;
    }

    .seccion__titulo{
        font-size: 45px;
    }

    .galeria__titulo{
        padding-top: 25px;
        font-size: 18px;
        padding-bottom: 10px;
    } 

    .grid__container{
        display: grid;
        grid-template-rows: 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em ; 
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        
    }

    .grid__uno{
        grid-row:1/3;
   }

   .grid__dos{
        grid-row: 3/5;
        grid-column: 1;
    }

    .grid__tres{
        grid-row: 5/7;
        grid-column: 1;
    }

    .grid__cuatro{
        grid-row: 7/9;
        grid-column: 1;
    }

    .grid__cinco{
        grid-row: 9/11;
        grid-column: 1;
    }

    .grid__seis{
        grid-row: 11/13;
        grid-column: 1;
    }

    .grid__siete{
        grid-row:1/3;
        grid-column: 2;
    }

    .grid__ocho{
        grid-row: 3/5;
        grid-column: 2;
    }

    .grid__nueve{
        grid-row:  5/7;
        grid-column: 2;
    }

    .grid__diez{
        grid-row: 7/9;
        grid-column: 2;
    }

    .grid__once{
        grid-row: 9/11;
        grid-column: 2;
    }

    .grid__doce{
        grid-row: 11/13;
        grid-column: 2;
    }

}