/* Media Queries */

/* Dispositivos moviles */
@media only screen and (max-width: 600px){

    body{
        background-color: #F7F0E4;
        margin-left: 16px;
        margin-right: 16px;
    }

    ul {
        display: inline-block;
    }

    .header__navegacion {
        display: block;
    }

    .destacado__titulo{
        font-size: 35px;
    }

    .destacado__subtitulo{
        font-size: 18px;
    }

    .seccion__titulo{
        font-size: 35px;
    }

    .galeria__titulo{
        padding-top: 25px;
        font-size: 18px;
        padding-bottom: 10px;
    } 

    .grid__container{
        display: grid;
        grid-template-rows: 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 
        21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em; 
        grid-template-columns: 35em;
        gap: 10px;
        
    }

    .grid__uno{
        grid-row:1/3;
   }

   .grid__dos{
        grid-row: 3/5;
        grid-column: 1;
    }

    .grid__tres{
        grid-row: 5/7;
        grid-column: 1;
    }

    .grid__cuatro{
        grid-row: 7/9;
        grid-column: 1;
    }

    .grid__cinco{
        grid-row: 9/11;
        grid-column: 1;
    }

    .grid__seis{
        grid-row: 11/13;
        grid-column: 1;
    }

    .grid__siete{
        grid-row: 13/15;
        grid-column: 1;
    }

    .grid__ocho{
        grid-row: 15/17;
        grid-column: 1;
    }

    .grid__nueve{
        grid-row: 17/19;
        grid-column: 1;
    }

    .grid__diez{
        grid-row: 19/21;
        grid-column: 1;
    }

    .grid__once{
        grid-row: 21/23;
        grid-column: 1;
    }

    .grid__doce{
        grid-row: 23/25;
        grid-column: 1;
    }

}

/* Tablets */
@media only screen and (min-width: 601px) and (max-width:992px) {

    body{
        background-color: #F7F0E4;
        margin-left: 16px;
        margin-right: 16px;
    }

    ul {
        display: inline-block;
    }

    .header__navegacion {
        display: block;
    }

    .destacado__titulo{
        font-size: 45px;
    }

    .destacado__subtitulo{
        font-size: 22px;
    }

    .seccion__titulo{
        font-size: 45px;
    }

    .galeria__titulo{
        padding-top: 25px;
        font-size: 18px;
        padding-bottom: 10px;
    } 

    .grid__container{
        display: grid;
        grid-template-rows: 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em 21.875em ; 
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        
    }

    .grid__uno{
        grid-row:1/3;
   }

   .grid__dos{
        grid-row: 3/5;
        grid-column: 1;
    }

    .grid__tres{
        grid-row: 5/7;
        grid-column: 1;
    }

    .grid__cuatro{
        grid-row: 7/9;
        grid-column: 1;
    }

    .grid__cinco{
        grid-row: 9/11;
        grid-column: 1;
    }

    .grid__seis{
        grid-row: 11/13;
        grid-column: 1;
    }

    .grid__siete{
        grid-row:1/3;
        grid-column: 2;
    }

    .grid__ocho{
        grid-row: 3/5;
        grid-column: 2;
    }

    .grid__nueve{
        grid-row:  5/7;
        grid-column: 2;
    }

    .grid__diez{
        grid-row: 7/9;
        grid-column: 2;
    }

    .grid__once{
        grid-row: 9/11;
        grid-column: 2;
    }

    .grid__doce{
        grid-row: 11/13;
        grid-column: 2;
    }

}
