/* TIPOGRAFIAS */

$font-principal: 'Plus Jakarta Sans', sans-serif;
$font-secundaria: 'DM Serif Display', serif;

/* PALETA DE COLORES */
$color-principal: #7C0808;
$color-secundario: #F7F0E4;
$color-destacado: #2D441D; 
