@import 'variables';
@import 'mediaqueries';
@import 'grids';


*{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $color-secundario;
    margin-left: 26px;
    margin-right: 26px;
}

article p {
    font-family: $font-principal;
    font-size: 16px;
    text-align: center;
}


.header {
    display: flex;
    align-items: right;
    justify-content: flex-end;
    width: 100%;

    &__logo {
        width: 25%;
    }

    &__navOrden{ 
        flex-grow: 3;
    }

    &__navegacion {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: flex-end;
        font-family: $font-principal;
        font-size: 16px;
        text-decoration: none;
    } 
}




ul {
    display: flex;
    list-style-type: none;
    color: black;
    text-decoration: none;
    text-align: left;
}

li {
    padding: 15px;
    color: black;
    text-decoration: none;
    text-align: right;

    li a:visited{
        color: black;
    }
}

a {
    text-decoration: none;
}

div a {
    text-decoration: none;
    color: black;
    font-family: $font-principal;
    font-size: 14px;
}

.destacado{

    &__titulo{
        font-family: $font-secundaria;
        font-size: 120px;
        margin-bottom: 0px;
    }

    &__subtitulo{
        font-family: $font-principal;
        font-size: 25px;
        justify-content: flex-start;
    }
}


.seccion__titulo{
    font-family: $font-secundaria;
    font-size: 120px;
    margin-bottom: 20px;
}

.italic{
    font-style: italic;
}


.galeria__titulo{
    display: flex;
    justify-content: center;
    font-family: $font-principal;
    padding-bottom: 25px;
} 
    


.button{
    &__ver{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 30px;
        background-color: $color-principal;
        text-decoration: none;
        font-style: white;
        box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.151);
    }

    &__ver:hover{
        background-color:$color-principal;
        transition: .3s;
        transform: scale(1.1);
        transition: all 0.5s;
    }

    
}


.foto__producto{
   background-position: center;
   background-size: 300px;
}


.button__ver{
    width: 100px;
    height: 40px;
    border-radius: 80px;
    border-style: none;
    margin: 0px;
    background-color: $color-principal;
    color: white;
    padding: 10px;
    font-family: $font-principal;
    font-weight: 700;
    text-align: center;
}

.fotoProducto{
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.productos__comprar{
    display: flex;
    text-align: center;
    font-family: $font-principal;
    font-size: 16px;
    background-color: black;
    border-radius: 25px;
    color: white;
    width: fit-content;
    padding: 15px;
    margin-left: 100px;
}

.servicios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly; 

    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px;
        width: 33.3%;
    }
    
    &__titulo{
        font-family: $font-principal;
        font-weight: 700;
        justify-content: center;
        font-size: 25px;
        padding: 0;
        margin: 0;
    }
    
    &__icon{ 
        width: 350px;
    }
    
}


.footer{
    align-items: baseline;
    padding-top: 150px;

    &__navegacion{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font-principal;
        font-size: 14px;
        color: black;
    }
}



.navLi{
    box-shadow: none;
    color: black;   
}

.contacto {
    &__container{
        display: block;
        margin-bottom: 125px;
        margin-left: 15px;
    }
    
    &__info{
        display: block;
    }
    
    &__titulo{
        font-family: $font-secundaria;
        font-weight: 700;
        font-size: 45px;
        padding: 0;
        margin-bottom: 0;
        color: $color-principal;
        letter-spacing: 1px;
    }
    
    &__parrafo{
        font-family: $font-principal;
        font-weight: 400;
        font-size: 25px;
        padding-bottom: 0;
        padding-top: 10px;
        padding-right: 0;
        padding-left: 0;
        margin: 0;
    }

}


.form{
    margin-top: 30px;    
    border-radius: 40px;
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;

    &__request{
        display: block;
        font-family: $font-principal;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 15px;
    }
    
    &__input{
        width: 400px;
        height: 40px;
        border-radius: 100px;
        border-style: none;
        margin-bottom: 20px;
        padding: 15px;
    }
    
    &__inputText{
        width: 400px;
        height: 100px;
        border-radius: 30px;
        border-style: none;
        margin-bottom: 20px;
        padding: 15px;
        resize: vertical;
    }
    
    &__button{
        display: block;
        width: 100px;
        height: 40px;
        border-radius: 80px;
        border-style: none;
        margin-bottom: 20px;
        background-color: $color-principal;
        color: white;
    }
}



.socialMedia{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;

    &__titulo{
        font-family: $font-secundaria;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 35px;
        padding: 0;
        margin-bottom: 0;
        color: black;
    }
}





.producto {
    display: inline-flex;
    justify-content: flex-start;
    margin-top: 50px;
    margin-bottom: 120px;

    &__img{
        width: 50em;
        box-shadow: 0px 0px 10px $color-secundario;
    }
    
    &__img:hover{
        transform: scale(1.5);
        transition: all 0.5s;
        padding-left: 10em;
    }

    &__descripcion{
        display: block;
        margin-left: 50px;
    }
    
    &__titulo{
        font-family: $font-secundaria;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 45px;
        margin-bottom: 15px;
        color: black;
        margin-top: 0px;
        padding-top: 0px;
    }
    
    &__subtitulo{
        font-family: $font-principal;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 5px;
    }
    
    &__texto{
        font-family: $font-principal;
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 35px;
        margin-top: 0px;
        width: 600px;
    }
}


.precio{
    font-family: $font-principal;
    font-weight: 700;
    font-size: 30px;
}

.buy__button{
    display: block;
    width: 100px;
    height: 40px;
    border-radius: 80px;
    border-style: none;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: $color-destacado;
    color: white;
    padding: 10px;
    font-family: $font-principal;
    font-weight: 700;
    text-align: center;
}

.buy__button:hover{
    background-color: #1d2b13;
    transform: scale(1.1);
    transition: all 0.5s;
}

.profileImg{
    width: 450px;
    border-radius: 220px 220px 0px 0px;
    margin: 0;
    padding: 0;
}
    
.aboutUs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 50px;
    &__descripcion{
        display: block;
        justify-content: flex-end;
        margin-left: 50px;   
    }
        
    &__titulo{
        font-family: $font-secundaria;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 45px;
        margin: 0;
        padding: 0;
        color: black;
    }
        
    &__subtitulo{
        font-family: $font-principal;
        font-weight: 400;
        font-size: 25px;
        margin-bottom: 5px;
    }
        
    &__texto{
        display: inline-block;
        font-family: $font-principal;
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 30px;
        margin-top: 0px;
        width: 600px;
        text-align: left;
        }
    
    &__socialMedia{
        display: flex;
        justify-content: flex-start;
    }
}


.socialMedia__icon{
    width: 70px;
    padding: 0;
    margin: 0;
}

